<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamcreators.mirrorboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MirrorBoard"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activitiesforfamily.IncomingCallActivityFamily"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".activitiesforfamily.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforfamily.InfoContactActivityFamily"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforfamily.InfoRequestActivityFamily"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforfamily.AddContactActivityFamily"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforfamily.MainActivityFamily"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforelderly.StartActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforelderly.MatchHobbyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesmutual.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitiesforelderly.InfoRequestActivityElderly"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforelderly.InfoContactActivityElderly"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforelderly.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesmutual.CreateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesmutual.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesmutual.OutgoingCallActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".activitiesforelderly.IncomingCallActivityElderly"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".activitiesforelderly.AddHobbyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforelderly.AddContactActivityElderly"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesforelderly.MainActivityElderly"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait" />
    </application>

</manifest>